.container {
    display: grid;
   // grid-template-columns: 25% 30% 20%; // combinar pixeles y relativos+
  //  grid-template-rows: 300px 300px;
    grid-template: 300px 200px / repeat(3, minmax(200px, 1fr)); // Sintaxis resumida de row y columns (filas / columnas)
   // grid-column-gap: 30px;
   // grid-row-gap: 30px;
    grid-gap: 10px // Sintaxis resumida de row y columns (filas columnas)
  }

  /*Fracción   (fr) 3 partes iguales (auto) - según contenido*/
  
  .item {
    background: rgba(194, 184, 212, 0.767);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A293BD;
  }
  
  .item:nth-of-type(4) {
    background: rgb(178, 225, 231);
    overflow: auto;
    // display: subgrid;
    //display: inline-grid;
    display: grid;
    grid-template: 50px 50px 50px / repeat(4, 25%) ;
  
  }
  
  .item .item {
      background: rgb(195, 243, 199);
  }