.container {
    display: grid;
    grid-template-columns: 25% 50% 25%; // combinar pixeles y relativos
}

.item {
    background: rgba(194, 184, 212, 0.767);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A293BD;
}